<div id="divSummaryAdditionalPoints" class="bg-container" style="min-height: 173px;">

    <!--Title-->
    <div class="row">
        <div class="customer-data-title">
            <div class="customer-data-title-items customer-data-title-icon">
                <span class="summary-icon"></span>
            </div>
            <div class="customer-data-title-items customer-data-title-label">
                <span>MIS PUNTOS ADICIONALES</span>
            </div>
        </div>
    </div>
    <!--End Title-->

    <table class="table table-borderless text-center nonRecurrentService" id="tblAdditionalPoint">
        <tbody></tbody>
    </table>

    <div class="clearfix"></div>

</div>

@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")